<div class="video-detail">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="getSafeVideoUrl()"></iframe>
  </div>
  <div class="details">
    <div>{{video.snippet.title}}</div>
    <div>{{video.snippet.description}}</div>
  </div>
</div>
