  <div class="input-group search-bar">
    <input
      #searchInput
      class="form-control"
      type="text"
      placeholder="Search"
      [value]="term" />
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
  </div>

      <!--
        event binding not necessary any more as we are using observable
        (input)="onSearchTermChange($event)"
      -->
