<li #videoItem class="list-group-item" (click)="onVideoSelect($event)">
  <div class="video-list media">
    <div class="media-left">
      <img class="media-object" src="{{imageUrl}}" />
    </div>
    <div class="media-body">
      <p class="media-heading">{{videoTitle}}</p>
    </div>
  </div>
</li>
